.direnv
.idea
.pre-commit-config.yaml
[Tt]humbs.db
*.DS_Store
*.log
*.log.*
*.sass-cache/
dist
node_modules
sftp-config.json
uploads
yarn.lock
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
