// colors

$swatch-lightgray: #e0e0e0;
$swatch-midgray: #878787e6;
$swatch-gray: #363636;
$swatch-blue: #85d4ed;
$swatch-purple: #9e76ff;
$swatch-white: #fffefa;

// the one breakpoint in the site

$breakpoint: 680px;
