@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

@import "config";
@import "animations";
@import "navigation";
@import "cards";
@import "forms";
@import "globals";
@import "events";

.content {
  background-color: $swatch-lightgray;
  color: $swatch-gray;
  width: 100%;
  padding: 25px 5%;

  @media (min-width: #{$breakpoint}) {
    width: 65%;
  }

  h1 {
    color: mix($swatch-gray, $swatch-blue, 10%);
    padding: 0;
    margin: 86px 0 47px; //47px 0;
    font-weight: 400;
    font-size: 1.875rem; //36px;
    position: relative;
    text-transform: lowercase;

    &:before,
    &:after {
      content: "";
      background-color: $swatch-blue;
      display: block;
      position: absolute;
      height: 5px;
      left: 0;
      top: -0.5em;
      width: 0.6em;
    }
    &:after {
      top: auto;
      bottom: -0.5em;
    }
  }

  p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    max-width: 27em;

    &:first-of-type {
      font-weight: bold;
    }
  }

  section {
    max-width: 38em;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 1000ms ease 200ms,
      visibility 1000ms ease 200ms;
    overflow: hidden;
    height: 0;

    &:target {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }

    // hide home when anything is selected
    &:target ~ #home {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      position: relative;
      border-bottom: 2px $swatch-purple solid;
    }
  }
}

// turn it on by default
#home {
  display: block;
  opacity: 1;
  height: calc(100% - 86px);
  visibility: visible;

  h1 {
    background-color: mix($swatch-gray, $swatch-blue, 10%);
    box-decoration-break: clone;
    color: #fff;
    padding: 0.1em;
  }

  div {
    background-color: #868686e6;
    color: #fff;
    display: inline-block;
    margin-top: 47px;
    padding: 9px;
  }
}
