name: Build

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '00 13 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - run: npm run fetchEvents
      - run: npm run build
      - name: Commit events.json
        run: |
          git status
          git config --global user.name 'Newwwie Bot'
          git config --global user.email 'buildbot@newwwie.com'
          git add src/js/events/events-data.js
          git add dist
          git commit -m "Get latest set of Meetup events"
          git push
